a[aria-current="page"]{
    font-weight: 900;
    color: #FE7558 !important;
    border-left: 4px solid #FE7558;
    border-radius: 0;
    border-radius: 8px;
}

::-webkit-scrollbar{
    display: none;
}